.RegisterForn {
  .logo {
    display: none;
  }
  .register {
    display: none;
  }
}
@media (max-width: 600px) {
  .RegisterForn {
    .card {
      display: none;
    }
    .logo {
      display: block;
    }
    .register {
      display: block;
    }

    .btn-text {
      display: none;
    }
  }
}
