// .Hero {
//   .mobile {
//     display: none;
//   }
// }
@media (max-width: 600px) {
  .Hero {
    .p-56 {
      padding: 3%;

      br {
        display: none;
      }

      .text-5xl {
        font-size: 1.5em;
        margin-top: 4%;
      }
    }
    .p-10 {
      padding: 3%;
    }
  }
}
